[Unit]
Description=SonarQube service
After=syslog.target network.target

[Service]
Type=forking
ExecStart={{ sonarqube_home }}/bin/linux-x86-64/sonar.sh start
ExecStop={{ sonarqube_home }}/bin/linux-x86-64/sonar.sh stop
User={{ sonarqube_user }}
Group={{ sonarqube_group }}
LimitNOFILE=65536
LimitNPROC=4096

[Install]
WantedBy=multi-user.target
