sonar.jdbc.username={{ sonarqube_db_user }}
sonar.jdbc.password={{ sonarqube_db_password }}
sonar.jdbc.url=jdbc:postgresql://localhost/{{ sonarqube_db_name }}
sonar.web.host=0.0.0.0
sonar.web.port=9000
sonar.path.data={{ sonarqube_home }}/data
sonar.path.temp={{ sonarqube_home }}/temp
